h1 {color: black; background-color: white;} 
h2{ color: black; background-color: grey;}
a {color: white; background-color: red;}
p {color: blue;}
h3 {color: red;}
div {background-color: rgb(215, 219, 161);}
body {background-color: black;}
.x {
    background-color: white;
}